<div class="top_nav">
KAF COLLECTIVE
</div>
<div class="container">
<div id="navigation">
  <ul class="nav">
    <li><%=link_to "ABOUT", "#about", :class => "about-link"%></li>
   <li><%=link_to "CONTACT", contact_path%></li>
   <li><%=link_to "DOCUMENT", document_path%></li>
  </ul>
  <div class="about">
    <p>
    <span style="font-weight:bold">KAF </span> means "palm" in Arabic, Cuneiform, Farsi, Hebrew, Phoenician, Urdu, and many other languages. Kaf is the letter K in each. It signifies touch, vulnerability, intimacy. The hand lifted before it is clenched.
    </p>
     <p>
  It shares its name with mount Qaf, the fabled goal of the Hoopoe and its followers in the sufi poem "The Conference of the Birds”. It is half of Kafka, the Czech author of empirical impasse, cruel absurdity.

    </p>
     <p>
  Like the Hoopoe and Kafka’s K, we travel by wandering, without preconceived destination.

    </p>
      <p>
  KAF curates work that moves "toward and away from text", work that interacts with body, image & sound, work that places value on the space between words, letters, genres, discourses, languages.

    </p>
     <p>
  KAF is an inquiry into the very possibility of itself. A well as a sustained meditation on the political, geographic and cultural borders that obscure this possibility.
    </p>  
  </div>
</div>
  <table>
    <tr>
  <td valign="top">
     tmhaviv (at) gmail (dot) com
    </div>
  </td>
</div>

